#start_container {
  display: flex;
  justify-content: center;
}

#start_button {
  background-color: white;
  width: 5rem;
  height: 2rem;
  text-align: center;
}

#game_container {
  display: flex;
  justify-content: space-evenly;
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hold_square {
  width: 4rem;
  height: 4rem;
  background-color: #6272a4;
}
#hold_text {
  color: white;
}
.tile {
  width: 2rem;
  height: 2rem;
  /* background-color: #6272a4; */
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upcoming_block {
  width: 4rem;
  height: 4rem;
  background-color: #6272a4;
}

#upcoming_text {
  color: white;
}

body {
  background-color: #282a36;
}

.green {
  background-color:green;
}
