#start_container {
  display: flex;
  justify-content: center;
}

#start_button {
  background-color: white;
  width: 5rem;
  height: 2rem;
  text-align: center;
}

#game_container {
  display: flex;
  justify-content: space-evenly;
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hold_square {
  width: 4rem;
  height: 4rem;
  background-color: #6272a4;
}
#hold_text {
  color: white;
}
.tile {
  width: 2rem;
  height: 2rem;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upcoming_block {
  width: 4rem;
  height: 4rem;
  background-color: #6272a4;
}

#upcoming_text {
  color: white;
}

body {
  background-color: #282a36;
}

.OG_color {
  background-color: #6272a4;
}

.blue {
  background-color: rgb(42, 81, 255);
}

.green {
  background-color: green;
}

.O {
  background-color: rgb(251, 255, 0);
}

.I {
  background-color: rgb(0, 255, 234);
}

.T {
  background-color: rgb(162, 0, 255);
}

.L {
  background-color: rgb(255, 115, 0);
}

.J {
  background-color: rgb(0, 76, 255);
}

.S {
  background-color: rgb(88, 255, 88);
}

.Z {
  background-color: rgb(255, 0, 0);
}
